body {
    font-family: 'Lato', sans-serif;
}

#site-background {
    background-color: rgb(172, 180, 187);
}

.py-4 {
    margin-top: 25px;
}
.col-sm-4 {
    padding: 20px;
}

h4 {
    margin-bottom: 15px;
}

#footer {
    margin-top: 0px;
}

h5 {
    text-align: center;
    font-weight: bold;
    border-top-style: solid;
}

#contact {
    text-align: center;
    font-weight: bold;
    border-top-style: solid;
}

a {
    color: rgb(15, 190, 15);
}