.py-4 {
    margin-top: 25px;
}
.col-md-4 {
    padding: 20px;
}

/* Extra small and small devices (phones, 640px and down) */
@media only screen and (max-width: 640px){
    .example}
}
/* Medium devices (768px to 980px) */
@media only screen and (min-width: 768px; max-width: 979px;) {
    .example}
}
/* Large devices (980px and up) */
@media only screen and (min-width: 980px) {
    .example}
}