.py-4 {
    margin-top: 25px;
}
.col-sm-4 {
    padding: 20px;
}

h4 {
    margin-bottom: 15px;
}
#portfolio {
    margin-top: 10px;
    padding: 2px;
}

#contact {
    margin-top: 10px;
    padding: 2px;
}
